<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
</head>
<body>

<form th:action="@{/login}" method="post">
    <h1>请登录</h1>
    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    <label>用户名：</label>
    <input type="text" name="username" required="">
    <label>密码：</label>
    <input type="password" name="password" required="">
    <button type="submit">登录</button>
</form>

</body>
</html>