<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:replace="~{commons/admincommon::title}">index</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="~{commons/admincommon::header}"></div>
    <div th:replace="~{commons/admincommon::sidebar(active='sortmanager.html')}"></div>

    <div class="layui-body">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>分类管理</legend>
        </fieldset>
        <table class="layui-table">
            <tr>
                <th>编号</th>
                <th>分类名称</th>
                <th>该分类下文章数</th>
                <th>创建时间</th>
                <th>上一次修改时间</th>
                <th>是否有效</th>
                <th>
                    <a class="layui-btn layui-btn-checked" th:href="@{/addSort}">新增</a>
                </th>
            </tr>
            <br>
            <tr th:each="sortDO:${sortDOs}">
                <td th:text="${sortDO.getId()}">id</td>
                <td th:text="${sortDO.getName()}">name</td>
                <td th:text="${sortDO.getArticleNumber()}">number</td>
                <td th:text="${#dates.format(sortDO.getCreatedTime(), 'yyyy-MM-dd HH:mm:ss')}">create_by</td>
                <td th:text="${#dates.format(sortDO.getModifiedTime(), 'yyyy-MM-dd HH:mm:ss')}">modified_by</td>
                <td th:text="${sortDO.getIsEffective()==1?'是':'否'}">is_effective</td>
                <td>
                    <a class="layui-btn" th:href="@{/sortDO/} + ${sortDO.getId()}">编辑</a>
                    <a class="layui-btn layui-btn-danger" th:href="@{/delSort/} + ${sortDO.getId()}">删除</a>
                </td>
            </tr>

        </table>
    </div>
    <div th:replace="~{commons/admincommon::footer}"></div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.use(['element'], function () {
        var element = layui.element;
    });
</script>
</table>
</body>
</html>