<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:replace="~{commons/admincommon::title}">index</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="~{commons/admincommon::header}"></div>
    <div th:replace="~{commons/admincommon::sidebar(active='sortmanager.html')}"></div>

    <div class="layui-body">
        <table class="layui-table">
            <tr>
                <th>编号</th>
                <th>分类名称</th>
                <th>该分类下文章数</th>
                <th>创建时间</th>
                <th>上一次修改时间</th>
                <th>是否有效</th>
                <th>
                    <button class="layui-btn">新增</button>
                    <button class="layui-btn layui-btn-danger">删除</button>
                </th>
            </tr>
            <br>
            <tr th:each="sortInfo:${sortInfos}">
                <td th:text="${sortInfo.getId()}">id</td>
                <td th:text="${sortInfo.getName()}">name</td>
                <td th:text="${sortInfo.getNumber()}">number</td>
                <td th:text="${#dates.format(sortInfo.getCreateBy(), 'yyyy-MM-dd HH:mm:ss')}">create_by</td>
                <td th:text="${#dates.format(sortInfo.getModifiedBy(), 'yyyy-MM-dd HH:mm:ss')}">modified_by</td>
                <td th:text="${sortInfo.getIsEffective()==1?'是':'否'}">is_effective</td>
                <td>
                    <a class="layui-btn" th:href="@{/sort/} + ${sortInfo.getId()}">编辑</a>
                    <button class="layui-btn layui-btn-danger">删除</button>
                </td>
            </tr>

        </table>
    </div>
    <div th:replace="~{commons/admincommon::footer}"></div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.use(['element'], function () {
        var element = layui.element;
    });
</script>
</table>
</body>
</html>